/* Указываем box sizing
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  text-decoration: none;
}

.nav-left {
  display: flex;
  text-align: left;
  padding-right: 125px;
  padding-left: 40px;
  left: 0;
  width: 50%;
  box-sizing: border-box;
  position: absolute;
  height: 100%;
}

.nav-left-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0 !important;
}

.nav-left-list-item {
  padding: 0 15px 0 0;
  clear: both;
  font-family: 'TildaSans', Arial, sans-serif;
  font-size: 16px;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  color: #000000;
  white-space: nowrap;
}

.nav-left-list-item-link {
  color: #ffffff;
  font-weight: 600;
}

.nav-left-list-item-link:hover {
  transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  outline: none;
  color: #ffbe49 !important;
  opacity: 1 !important;
}


.header {

}

.background-image {
  height: 540px;
  background-color: #000;
  overflow: hidden;
  height: 700px;
  width: 100%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  filter: brightness(50%);
}

.background-image-img {
  width: 100%;
  height: 75%;
  object-fit: cover;
}
